@model dynamic
@{
    ViewBag.Title = "Sign Out";
}
<h2>Signed Out</h2>
You signed out of these sites:
<ul>
    @foreach (var link in Model)
    {
    
        <li>
            <img src="@link?wa=wsignoutcleanup1.0" title="Signout Request" alt="Signout Request" />
            <a href="@link">@link</a></li>
    
    }
</ul>
<p>Please close all of your browser windows.</p>
